.reset-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px 20px;
  text-align: center;
  background-color: var(--light-dark-color);
  border-radius: 10px;
}

.reset-password-container h2 {
  margin-bottom: 20px;
}

.reset-password-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reset-password-container input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.reset-password-container input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.reset-password-container button {
  padding: 10px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-password-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
